<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="chinasoft.com.logindemo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="chinasoft.com.util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/navigation_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".login"></activity>
        <activity android:name=".Register" />
        <activity
            android:name=".Loding"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ShouyeDemo"
            android:windowSoftInputMode="stateHidden" />

        </activity>
        <activity android:name=".ContectActivity"></activity>
        <activity
            android:name=".IndexActivity"
            android:theme="@style/NotitleTheme"></activity>
        <activity
            android:name=".AdminLogin"
            android:theme="@style/NotitleTheme" />
        <activity
            android:name=".AdminRegister"
            android:theme="@style/NotitleTheme" />
        <activity
            android:name=".ViewPagerlidingLayoutActivity"
            android:theme="@style/NotitleTheme">
        </activity>
        <activity
            android:name=".AdminMain"
            android:theme="@style/NotitleTheme" />
        <activity
            android:name=".ConfigActivity"
            android:theme="@style/NotitleTheme" />
        <activity
            android:name=".UserUpdateActivity"
            android:theme="@style/NotitleTheme" />
        <activity
            android:name=".LocationActivity"
            android:theme="@style/NotitleTheme" />
        <activity
            android:name=".UniverseActivity"
            android:theme="@style/NotitleTheme" />
        <activity
            android:name=".PrivacyActivity"
            android:theme="@style/NotitleTheme" />
        <activity
            android:name=".AboutUsActivity"
            android:theme="@style/NotitleTheme" />
        <activity
            android:name=".DropSortActivity"
            android:theme="@style/NotitleTheme"></activity>
        <activity
            android:name=".LoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".ChangeActivity"
            android:theme="@style/NotitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:theme="@style/NotitleTheme" />
        <activity
            android:name=".WebActivity"
            android:theme="@style/NotitleTheme" />
        <activity
            android:name=".HistoryActivity"
            android:theme="@style/NotitleTheme"></activity>
            android:theme="@style/NotitleTheme" />

        <!-- 注册SDKActivity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106266965" /> <!-- 开放平台获取的APPID -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".AllOrderActivity" />
        <activity android:name=".OrderListActivity"></activity>
    </application>

</manifest>